apparmor==2.13.4
appdirs==1.4.3
application-utility==1.3.2
astroid==2.3.3
attrs==19.3.0
backcall==0.1.0
beautifulsoup4==4.9.0
bleach==3.1.4
btrfsutil==1.2.0
CacheControl==0.12.6
chardet==3.0.4
Cheetah3==3.2.4
chrome-gnome-shell==0.0.0
colorama==0.4.3
contextlib2==0.6.0.post1
cupshelpers==1.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.0
distro==1.4.0
entrypoints==0.3
filelock==3.0.12
gufw==19.10.0
html2text==2019.8.11
html5lib==1.0.1
idna==2.9
importlib-metadata==1.5.0
ipykernel==5.2.1
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
Jade-Application-Kit==3.0.0
jedi==0.17.0
Jinja2==2.11.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
lensfun==0.3.95
LibAppArmor==2.13.4
lockfile==0.12.2
louis==3.13.0
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.2.0
mpmath==1.1.0
msgpack==1.0.0
nbconvert==5.6.1
nbformat==5.0.6
nose==1.3.7
notebook==6.4.1
npyscreen==4.10.5
numpy==1.18.3
ordered-set==3.1.1
packaging==20.3
pacman-mirrors==4.16.4
pandas==1.0.3
pandocfilters==1.4.2
parso==0.7.0
pep517==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==6.2.1
progress==1.5
prometheus-client==0.7.1
prompt-toolkit==3.0.5
psutil==5.7.0
ptyprocess==0.6.0
pwquality==1.4.2
pycairo==1.19.1
pycups==1.9.74
pycurl==7.43.0.5
Pygments==2.6.1
PyGObject==3.36.0
pylint==2.4.4
pymongo==3.10.1
pyparsing==2.4.7
PyQt5==5.14.2
PyQt5-sip==12.7.2
PyQtWebEngine==5.14.0
pyrsistent==0.16.0
pysmbc==1.0.20
python-dateutil==2.8.1
python-libtorrent==1.2.5
pytoml==0.1.21
pytz==2019.3
pyxdg==0.26
PyYAML==5.3.1
pyzmq==19.0.0
qtconsole==4.7.3
QtPy==1.9.0
regex==2020.4.4
reportlab==3.5.42
requests==2.23.0
retrying==1.3.3
scipy==1.4.1
scons==3.1.2
Send2Trash==1.5.0
sip==4.19.22
six==1.14.0
soupsieve==1.9.5
sympy==1.5.1
team==1.0
terminado==0.8.3
testpath==0.4.4
toml==0.10.0
tornado==6.0.4
traitlets==4.3.3
ufw==0.36
urllib3==1.25.9
virtualenv==20.0.18
wcwidth==0.1.9
webencodings==0.5.1
widgetsnbextension==3.5.1
wrapt==1.11.2
zipp==3.1.0
